
<!DOCTYPE html>
<html lang = 'en'>
<html>
<title>A good day</title>	
<head>
	{% load static%}
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<script src="{% static 'jquery/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/modules/test_1701/test.js' %}"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<h1> this is the first html page</h1>
			<p id="test2"> I love you Aniruddh</p>
			<!-- <button type="button" class="btn btn-primary" onclick="myFunction()">Click Me! -->
				<button type="button" class="btn btn-primary" id="test-btn">Click Me!
			</button>
		</div>
	</div>

	
</body>
</html>	